.login-wrap {
    background: gainsboro;

    .login-form {
        width: 300px;
        background: var(--primary-bg-color);
        box-shadow: var(--box-shadow);
        padding: 12px 24px;
    }
}